<h1>Welcome to Sunshine Vets</h1>

<table width="30%" border="1" style="font-family:Raleway">
  <thead><h3>November</h3></thead>
  <tbody>
  <tr>
    <th><b>Mon</b></th>
    <th><b>Tue</b></th>
    <th><b>Wed</b></th>
    <th><b>Thur</b></th>
    <th><b>Fri</b></th>
    <th><b>Sat</b></th>
    <th><b>Sun</b></th>
  </tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  <tr>
    <td>4<br></td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
  </tr>
  <tr>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td>17</td>
  </tr>
  <tr>
    <td>18</td>
    <td>19</td>
    <td>20</td>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
  </tr>
  <tr>
    <td>25</td>
    <td>26</td>
    <td>27</td>
    <td>28</td>
    <td>29</td>
    <td>30</td>
    <td><span style="color:grey">1</span></td>
  </tr>
  </tbody>
</table>
