<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sunshine Vets</title>
  </head>
  <body>
    <nav>
      <a href = "/">Home</a>
      <a href = "/pets">Pets</a>
    </nav>
    <%= yield %>
  </body>
</html>
