<h1>Register a pet</h1>
<form action="/pets" method="post">
  <label for = "name-field">Name:</label>
  <input type="text" name="name">

  <label for="dob-field">Date of Birth:</label>
  <input type="text" name="dob">

  <label for="type-field">Breed:</label>
  <input type="text" name="type">

  <label for="owner-selection">Owner:</label>
  <select name="owner_id">
    <% for owner in @owners %>
    <option value="<%= owner.id %>"<%= owner.name %></option>
    <% end %>
  </select>

  <label for="vet-selection">Owner:</label>
  <select name="vet_id">
    <% for vet in @vets %>
    <option value="<%= vet.id %>"<%= vet.name %></option>
    <% end %>
  </select>

  <label for="notes-field">Notes:</label>
  <textarea name="notes" rows="8" cols="80"></textarea>

  <input type="submit" value="Register">
</form>
