tbody {
  border: 5px solid blue;
}

a {
  text-decoration: none;
  color: black;
}

p, h1, h3, a, form, option {
  font-family: 'Raleway', sans-serif;
}

hr {
  border: 1px solid #7FD8BE;
}
#home_button, #pets_button, #vets_button, #owners_button {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: #7FD8BE;
}

#register-pet, #edit-pet, #register-owner, #edit-owner, #delete-owner, #delete-pet {
  border-width: : 1px;
  border-style: solid;
  border-color: #7FD8BE;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

a:hover {
  color: #7FD8BE;
}

li a {
  color: #F1F2EB;
}

li {
  display: inline-block;
  font-size: 20px;
}

ul {
  background-color: #4A4A48;
  padding: 15px;
  padding-top: 8px;
  display: flex;
  justify-content: flex-start;
}
