form {
  width: 50%;
  background-color: #7FD8BE;
  padding: 20px;
  color: #4A4A48;
  border: 2px solid #4A4A48;
  border-radius: 5px;
}

input {
  border: 2px solid #F1F2EB;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

select {
  border: 2px solid #F1F2EB;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

textarea {
  border: 2px solid #F1F2EB;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  resize: none;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: 0px 0px 10px #518A79;
}

input[type=submit] {
  background-color: #7FD8BE;
  font-size: 15px;
  color: #4A4A48;
}

input[type=submit]:hover {
  color: #7FD8BE;
}

.home-index {
  width: 40%
}

body .app-index {
  background-image: url("/hi_2.gif");
  background-repeat: no-repeat;
  background-position: 101% -21.3%;
}

body .own-index {
  background-image: url("/hi_3.gif");
  background-repeat: no-repeat;
  background-position: 101% -37%;
}

body .pet-index {
  background-image: url("/hi_4.gif");
  background-repeat: no-repeat;
  background-position: 101% -20.2%;
}

body .vet-index {
  background-image: url("/hi_5.gif");
  background-repeat: no-repeat;
  background-position: 101% -54.2%;
}

tbody {
  border: 5px solid #7FD8BE;
}

a {
  text-decoration: none;
  color: black;
}

p, h1, h3, a, form, option {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: red;
}

hr {
  border: 2px solid #7FD8BE;
}
#home_button, #pets_button, #vets_button, #owners_button {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: #7FD8BE;
}

a:hover {
  color: #7FD8BE;
}

li a {
  color: #F1F2EB;
}

li {
  display: inline-block;
  font-size: 25px;
}

ul {
  background-color: #4A4A48;
  padding: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
}

#owner-new, #owner-edit, #owner-delete, #note-new, #pet-new, #pet-edit, #pet-delete, #vet-new, #vet-edit, #vet-delete, #appointment-new, #appointment-delete, #appointment-edit {
  border-width: : 1px;
  border-style: solid;
  border-color: #7FD8BE;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
