<h1>Vets</h1>
<% for vet in @vets %>
  <h3><%= vet.name %></h3>
  <% for pet in vet.pets %>
  <p><a href = "/pets/<%= pet.id %>"><%= pet.name %> </a></p>
  <% end %>
  <hr>
<% end %>

<p><b><a class="link" href="/vets/new">New Vet</a></b></p>
