<form action="/notes/<%=@pet.id%>" method="post">

  <label for="note-field">New Note:</label>
  <br>
  <textarea name="note" rows="8" cols="80"></textarea>
  <br>
  <input type="submit" value="Add">
</form>
