<h1>Notes for <%= @pet.name %></h1>

<% for note in @notes %>
  <p> <span style="color:grey"><%= note.note_date %></span>
   <%= note.note %></p>
   <hr>
<% end %>

<p><b><a id="add-note" href="/notes/<%= @pet.id %>/new">Add New Note</a></b></p>
