<h1>Owners</h1>

<a id="owner-new" href="/owners/new">Register a New Owner</a>

<% for owner in @owners %>
  <h3><a href="/owners/<%= owner.id %>"><%= owner.name %></a></h3>
  <p><b>Pets:</b></p> <% for pet in owner.pets %>
    <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
    <% end %>
  <hr>
<% end %>
