<h1>Register a new owner</h1>
<form action="/owners" method="post">
  <label for="name-field">Name:</label>
    <input type="text" name="name">
  <br>
  <br>
  <label for="address-field">Address:</label>
  <br>
    <textarea name="address" rows="8" cols="30"></textarea>
  <br>
  <br>
  <label for="phone-number-field">Phone Number:</label>
    <input type="tel" name="phone_number"
    minlength="10" maxlength="13" size="13">
    <br>
    <br>
  <input type="submit" value="Register">
</form>
