<h1><%= @owner.name %></h1>
<p><b>Address:</b> <%= @owner.address %></p>
<p><b>Phone Number:</b> <%= @owner.phone_number %></p>
<p><b><a id="edit-owner" href="/pets/<%= @owner.id %>/edit">Edit Information</a></b></p>
